*{
    margin: 0px;
    padding: 0px;
    font-family: "Times New Roman", Times, serif;
}
body{
    background-image: linear-gradient(to bottom right, #303675, black);

    /*background-image: url("../img/img\ de\ login\ -\ teste3.jpg");
    background-position: 40% 90%;
    font-family: arial;*/
}
input{
    display: block;
    height: 55px;
    width: 400px;
    margin: 10px;
    border-radius: 30px;
    border: 1px solid rgb(0, 0, 0);
    font-size: 16pt;
    padding: 10px 20px;
    border-color: #fff;
    background-color: rgba(255,255,255,0.01);
    outline: none;
    color: #fff;
}
/*input[type=checkbox]{
    
    
}*/

input[id=pwd]{
    border-color: white;
    background-color: transparent;
}
input[id=pwd2]{
    border-color: transparent;
    background-color: transparent;
}
/*input[id=pw3]{
    border-color: transparent;
    background-color: transparent;
}*/

input[type=submit] {
    background-color: #000000;
    color: white;
    border-color: rgb(0, 0, 0);
    cursor: pointer;
}
fieldset{
    border-radius: 30px;
}

.corpo-form{
    width: 420px;
    margin: 13% auto 0px auto;
}

.corpo-form h1{
    text-align: center;
    padding: 20px;
}
h1{
    color: #fff;
}
a{
    color: rgb(255, 255, 255);
    text-decoration: none; /*tira o underline que ja vem no "a" por padrão*/
    text-align: center;
    display: block;
    
}
a:hover{
    text-decoration: underline; /*devolve o underline para o "a" por meio do hover*/
}



/*Para que funcione em outros navegadores*/
::-webkit-input-placeholder{/*WebKit browsers*/
    color: #fff;
}
:-moz-placeholder{/*Mozilla Firefox 4 to 18*/
    color: #fff;
    
}
:-moz-placeholder{/*Mozilla Firefox 19+ */
    color: #fff;
}
:-moz-input-placeholder{
    color:#fff;
}
.msg-sucesso{
    width: 400px;
    margin: 10px auto;
    padding: 10px;
    background-color: rgba(50,205,50,.3);
    border: 1px solid rgb(31, 212, 31);
    display: block;
    color: rgb(10, 233, 10);
}
.msg-erro{
    width: 400px;
    margin: 10px auto;
    padding: 10px;
    background-color: rgba(56, 6, 0, 0.3);
    border: 1px solid rgb(110, 0, 0);
    display: block;
    color: rgb(207, 1, 1);
}
