/* ---------- Estilos Gerais ---------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    font-family: "Times New Roman", Times, serif;
}

.editor-container {
    background-color: #535675;
}

main {
    height: 100vh;
}


/* Paleta de cores do site 
#1D1E29
#535675
#1B1E42
#303675
#8A8EC2
*/


/* ---------- Header menu ---------- */

header {
    margin-bottom: 50px;
    box-shadow: 0px 1px 8px #000;
}

ul {
    list-style: none;
    overflow: hidden;
    background-color: #1d1e29;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 18px;
    text-decoration: none;
    font-size: 18px;
    margin-left: 10px;
}

li a:hover {
    background-color: black;
}


/* ---------- Rodapé footer ---------- */

footer {
    bottom: 0%;
    width: 100%;
    position: absolute;
    background-color: #1d1e29;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}


/* ---------- Estilos do editor ---------- */

.img-container {
    display: block;
    width: 60%;
    height: 60%;
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 2px solid #1d1e29;
    background-image: url(../img/default.jpg)
}

.image {
    max-width: 100%;
    max-height: 100%;
}

.file-upload-section {
    margin: 0 auto;
    font-weight: 400;
    width: 15%;
    color: white;
    text-align: center;
    background-color: #1d1e29;
    cursor: pointer;
}

#foto-file {
    display: none;
}

.btn-download {
    display: block;
    margin: 0 auto;
    font-weight: 400;
    width: 15%;
    font-size: 18px;
    color: white;
    text-align: center;
    background-color: #1d1e29;
    cursor: pointer;
}

.btn-download:hover {
    background-color: black;
}


/*---------------------- Pagina Quem somos (Alberto)---------------------- */

#sobre_body {
    background-color: #535675;
    text-align: center;
}

h1 {
    text-align: center;
    color: whitesmoke;
    font-size: 45px;
}

#txt_sobre {
    color: whitesmoke;
    font-size: 26px;
}

#container_sobre {
    width: 100%;
    height: 100%;
    padding: 0% auto;
    display: inline-flex;
    flex-wrap: nowrap;
    box-sizing: border-box;
}

#foto_sobre {
    width: 310px;
    height: 160px;
    border-radius: 15% 15% 15% 15%;
    margin: 0% auto;
    box-shadow: 0px 3px 9px #000;
    background-color: #1B1E42;
    font-size: 30px;
    text-align: center;
    color: whitesmoke;
    padding: .5%;
}

#foto_sobre :hover {
    border-radius: 15% 15% 15% 15%;
    box-shadow: 2px 4px 12px #000;
    background-color: #1B1E42;
    color: whitesmoke;
    transform: scaleX(1.1) scaleY(1.1);
    /* aumentar botão ao passar em cima*/
    font-size: 31px;
    transition-duration: .2s;
}

#foto_sobre :visited {
    color: whitesmoke;
    text-decoration: none;
}

#foto_sobre :active {
    color: whitesmoke;
    text-decoration: none;
    border: solid #1d1e29;
    border-radius: 15% 15% 15% 15%;
}

#foto_sobre :link {
    color: whitesmoke;
    text-decoration: none;
}

#foto_1,
#foto_2,
#foto_3,
#foto_4 {
    border-style: solid whitesmoke;
    border-radius: 50%;
    height: 140px;
    padding: 0% auto;
    border: solid #1d1e29;
    pointer-events: none;
    /*desabilita ação de mousa em cima da imagem, somente na div*/
}


/* -------------------- */